[submodule "11-4-2016/testing-with-catch/gmock-integration/test/Catch"]
	path = 11-4-2016/testing-with-catch/gmock-integration/test/Catch
	url = https://github.com/philsquared/Catch.git
[submodule "11-4-2016/testing-with-catch/gmock-integration/test/googletest"]
	path = 11-4-2016/testing-with-catch/gmock-integration/test/googletest
	url = https://github.com/google/googletest
[submodule "11-4-2016/testing-with-catch/trompeloeil-integration/test/Catch"]
	path = 11-4-2016/testing-with-catch/trompeloeil-integration/test/Catch
	url = https://github.com/philsquared/Catch.git
[submodule "11-4-2016/testing-with-catch/trompeloeil-integration/test/trompeloeil"]
	path = 11-4-2016/testing-with-catch/trompeloeil-integration/test/trompeloeil
	url = https://github.com/rollbear/trompeloeil.git
[submodule "11-4-2016/testing-with-catch/operator<</test/Catch"]
	path = 11-4-2016/testing-with-catch/operator<</test/Catch
	url = https://github.com/philsquared/Catch.git
[submodule "11-4-2016/testing-with-catch/demo-and-experiments/test/Catch"]
	path = 11-4-2016/testing-with-catch/demo-and-experiments/test/Catch
	url = https://github.com/philsquared/Catch.git
